<div id="menubar">
    <ul id="menu">
        <!--Todo- set highlighted page navigation li current -->
        <li class="current">@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Archive", "Archive", "Home")</li>
        <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
        
        <li>@Html.ActionLink("Log In", "Index", "Admin")</li>
    </ul>
</div>
