@model ArticleSite.Presentation.ViewModels.MasterPageViewModel

<div id="sidebar_container">
    <img class="paperclip" src="../../Images/paperclip.png" alt="paperclip" />
    <div class="sidebar">
        <!-- insert your sidebar items here -->
        <h3>Latest Article</h3>
        <h4>@Model.Article.Title</h4>
        <h5>@Model.Article.DatePublished.ToLongDateString()</h5>
        <p>
            @Model.ArticleSummary<br />
            @Html.ActionLink("Read More", "ArticleDetails", "Home", new {id  = @Model.Article.ArticleId}, null)
        </p>
    </div>
    <img class="paperclip" src="../../Images/paperclip.png" alt="paperclip" />
    <div class="sidebar">
        <h3>Newsletter</h3>
        <p>If you would like to receive our newletter, please enter your email address and click 'Subscribe'.</p>
        <form method="post" action="#" id="subscribe">
            <p style="padding: 0 0 9px 0;">
                <input class="search" type="text" name="email_address" value="your email address" onclick="javascript: document.forms['subscribe'].email_address.value = ''" />
            </p>
            <p>
                <input class="subscribe" name="subscribe" type="submit" value="Subscribe" />
            </p>
        </form>
    </div>
    <img class="paperclip" src="../../Images/paperclip.png" alt="paperclip" />
    
    <div class="sidebar">
        <h3>Categories</h3>
        
        <ul>
        @foreach (var categoryName in Model.Categories)
        {        
            <li>@Html.ActionLink(@categoryName.Name, "ArticleSummary", "Home", new {searchTerm = @categoryName.Name}, null)</li> 
        }
            </ul> 
    </div>
</div>
    
