@model ArticleSite.Model.Entities.Article

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Article</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DatePublished)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DatePublished)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateEdited)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateEdited)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Content)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Content)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ArticleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
